body {
  margin: 0;
  box-sizing: border-box;
  background-color: #d3d1d1;
}

.card {
  width: 150px;
  height: 150px;
  background-color: rgb(226, 226, 226);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.cards-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  justify-items: center;
  padding-top:5%;
  padding-left: 10%;
  padding-right: 10%;
}

.wave {
  float: left;
  margin: 20px;
  animation: wave  ease-in-out 0.5s infinite alternate;
  transform-origin: center -36px;
}

.wave:hover {
  animation-play-state: paused;
  opacity: 0.6;
  cursor: pointer;
}

.wave img {
  border: 5px solid #f8f8f8;
  display: block;
  width: 200px;
  height: 250px;
}

.wave figcaption {
  text-align: center;
}

.wave:after{
  content: '';
  position: absolute;
  width: 20px; 
  height: 20px;
  border: 1.5px solid #ffffff;
  top: -10px; 
  left: 50%;
  border-bottom: none;
  border-right: none;
  transform: rotate(35deg);
}
       
.wave:before{
  content: '';
  position: absolute;
  top: -23px;
  left: 50%;
  display: block;
  height: 44px;
  width: 47px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  z-index: 16;
}
        
@keyframes wave {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

.scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.score {
  font-size: 3em;
  align-self: center;
  margin-left: 10px;
}

.helper {
  font-size: 2rem;
  animation: fadeInAnimation ease 3s;
  animation-fill-mode: forwards;
  font-family: Rocher;
}

.score-txt {
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: Rocher;
}


@keyframes fadeInAnimation {
  100% {
      opacity: 1;
  }
  0% {
      opacity: 0;
   }
}

.takeover {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: Rocher;
  font-size: 3rem;



}


.main-takeover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}


button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button {
    padding: 13px 50px 13px;
  }
}